.product-title {
    font-size: 2.4rem;
    color: #ef4444;
    font-weight: 600;
}

.detail-info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail-strong {
    font-weight: bold;
}